.nav {
  position: relative;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar{
  display: none;
  z-index: 6;
}
.nav--title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.75vw;
    font-weight: bold;
    color: #fcfcfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav--link ul li, .no--display ul li{
  display: inline;
  list-style-type: none;
  display: inline;
  font-size: 1.75vw;
  font-weight: 700;
  color: #fefefe;
  margin: 10px;
}
.noline {
  text-decoration: none;
}

.nav--link ul li:hover,.no--display ul li:hover,
.nav--title:hover{
  color: #e56b6f;
}
.covidIcon {
  margin: 20px;
  color: #e56b6f;
}

@media only screen and (max-width: 799px) {
  .nav {
    left:0;
    width:100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
  }
  .sidebar{
    position: fixed;
    overflow: hidden;
    flex-wrap: wrap;
    top:4.2vw;
    right:2.5vw;
    width:25vw;
    z-index: 6;
  }
  .nav--link ul{
    padding-top:8vw;
    position: fixed;
    z-index: 10;
    margin-top: 0;
    top:0;
    right:0;
    border: 1px black solid;
    background-color: #1b212bee;
    color:#fcfcfc;
    height: 100vh;
    width: 30vw;
  }
  .nav--link ul li{
    display: block;
    margin-left:-30px;
    padding-top:2vw;
    font-size: 3vw;
    color: #fefefe
  }
  .no--display {
    display: none;
  }
  .covidIcon {
    margin: 10px 10px 0 0;
  }
  .title{
    margin-top:10px;
    width:75%;
    font-size: 4vw;
  }
}