.news-link {
  display: flex;
  font-size: 1.6vw;
  font-weight: 700;
  color: #fefefe;
  text-decoration: none;
  text-align: left;
}
.news-link p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vw;
  flex-wrap: nowrap;
}
.newsfeed-title {
  font-size: 1.25vw;
  font-weight: 700;
  color: #fefefe;
  text-align: center;
}
.newsfeed-container {
  border-left: 1px white s;
  color: white;
  font-size: 1.25vw;
  font-weight: 200;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  height:60vh;
  overflow-y: auto;
}
.news{
  border-bottom: 1px white solid;
}
#date{
  align-self: flex-end;
  font-size: small;
  font-weight: 400;
  color:#e56b6f
}
@media only screen and (max-width: 799px) {
  .news-link {
    font-size: 4vw;
    font-weight: 700;
    color: #fefefe;
    text-decoration: none;
    text-align: left;
  }
  .newsfeed-title {
    font-size: 2.5vw;
    font-weight: 700;
    color: #fefefe;
    text-align: center;
  }
  .newsfeed-container {
    color: white;
    font-size: 5vw;
    font-weight: 200;
    text-align: left;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
   
  }
}
.news-link:hover {
  color: #e56b6f;
}

.news-image {
  align-self: center;
  width: 100px;
  height: 100px;
  padding-right: 10px;
  border-radius: 20px;
  object-fit: cover;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 .container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 