*{
  box-sizing: border-box;
}
.tooltip {
  font-size: 18px !important;
}
.about--style {
  height: 100vh;
  padding: 0 0.5vw;
}
main{
  margin-left:10%;
  text-align: justify;
  width:80%;
  color:white;
}
h2{
  text-align:center
}
@media only screen and (max-width: 799px) {
  .content {
    width: 100%;
    display: block;
  }
  .list {
    margin-bottom: 15px;
    overflow-y: auto;
    padding: 15px;
    transform: translate(15%,10%);
    width: 70vw;
    max-width: 400px;
    max-height: 300px;
    border: 0.5vw white solid;
    border-radius: 10px;
    list-style-type: none;
    text-align: left;
    font-size: 4.6vw;
    line-height: 4.8vw;
  }
  .innerheading {
    text-align: center;
    font-size: 4.0vw;
    text-transform: uppercase;
    font-weight: 350;
  }
  .info--location {
    font-size: 3.6vw;
    color: #e56b6f;
    left:40%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
  .about--style {
    height: 100vh;
    padding: 0.2vw;
  }
}
@media only screen and (min-width: 800px) {
  .content {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 2.0fr 1.2fr;
  }
  .list {
    margin-bottom: 15px;
    overflow-y: auto;
    padding: 15px;
    width: 21vw;
    max-width: 400px;
    max-height: 300px;
    border: 3px white solid;
    border-radius: 10px;
    list-style-type: none;
    text-align: left;
    font-size: 1.4vw;
    line-height: 1.6vw;
  }
  .innerheading {
    text-align: center;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 350;
  }
  .info--location {
    font-size: 1.8vw;
    padding: 0 0.7vw;
    background-color: #355070;
    color: #e56b6f;
    z-index: 1;
    position: relative;
    left: 5%;
    top: 1.2vw;
    text-transform: uppercase;
  }
}

.info {
  margin: 0.5vw auto 0 2vw;
  display: relative;
  color: white;
}

.category {
  font-weight: 200;
}

.language-select {
  float: right;
  margin-top: -35px;
}